body {
  background: rgb(88, 214, 208);
  font: normal 15pt Arial;
}
header {
  color: whitesmoke;
  text-align: center;
}
section {
  background: honeydew;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10 px rgba(0, 0, 0, 0.801);
}
footer {
  color: whitesmoke;
  text-align: center;
  font-style: italic;
}
